#Ian {
    background: url(6C2LOXk.jpg);
    padding: 10px 50px 55px 100px;
    font-family: 'Candara';
    font-size: 20px;
}

#about_me > table {
    background-color: rgb(200, 200, 200);
}

#KnowMe {
    font-family: 'Candara', sans-serif;
    background: url(fdRqQxx.png);
    padding: 10px 20px 20px 90px;
    text-align: left;
    font-size: 20px;
    color: white;
}

#Portafolio {
    background: url(THtzBbq.png);
    font-family: 'Candara';
    padding: 10px 50px 50px 90px;
    text-align: right;
    font-size: 20px;
    color: white;
}


